.App {
}

.App-header {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  grid-area: header;
  background-color: #222;
  padding: 5px;
  color: white;
}

.main { grid-area: main; }
.right { grid-area: right; }
.footer {
  grid-area: footer;
  height: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'header header header header'
      'main main right right'
      'footer footer footer footer';
  grid-template-rows: 60px auto 30px;
  width: 100vw;
  height: 100vh;
}
